<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
        }

        .board {
            user-select: none;
        }

        .box {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 800;
            font-family: system-ui;
        }

        .box-init {
            background: #BBBBBB;
            border-left: 2px solid #FDFDFD;
            border-top: 2px solid #FDFDFD;
            border-right: 2px solid #727272;
            border-bottom: 2px solid #727272;
        }

        .box-open {
            background: #C8C8C8;
            border: 1px solid #9B9B9B;
        }
    </style>
</head>

<body style="margin: 0;padding: 0;">
    <div id="app">
        <div style="display: flex;">
            <div class="board" @mousedown="onMouseDown" @mouseup="onMouseUp"
                @contextmenu.prevent="e=>e.preventDefault()">
                <div v-for="row of map" style="display: flex;">
                    <div v-for="col of row" class="box"
                        :class="{'box-init':col.status=='INIT'||col.status=='FLAG','box-open':col.status=='OPEN'}">
                        <span v-if="!col.mine&&col.aroundNum&&col.status=='OPEN'"
                            :style="{'color':numColor[col.aroundNum]}">{{col.aroundNum}}</span>
                        <template v-if="status=='WIN'">
                            <span v-if="col.mine">
                                <svg t="1686667343748" viewBox="0 0 1024 1024" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" p-id="3869"
                                    data-spm-anchor-id="a313x.7781069.0.i2" width="14" height="14">
                                    <path
                                        d="M215.4 160.6H177c-8.9 0-16 7.2-16 16V849c0 8.9 7.2 16 16 16h38.4c8.9 0 16-7.2 16-16V176.7c0.1-8.9-7.1-16.1-16-16.1zM848.1 236c-189 152.5-378-180.6-567.1-28.2-8.8 7.1-16 21.3-16 30.1v430.9c0 8.9 7.2 9 16 1.9 189-152.5 378.1 180.7 567.1 28.2 8.9-7.1 16-21.3 16-30.1V237.9c0.1-8.8-7.1-9-16-1.9z"
                                        fill="#d81e06" p-id="3870" data-spm-anchor-id="a313x.7781069.0.i1"
                                        class="selected"></path>
                                </svg>
                            </span>
                        </template>
                        <template v-else-if="status=='LOSE'">
                            <span v-if="col.mine">
                                <svg t="1686667579057" viewBox="0 0 1024 1024" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" p-id="1328" width="14" height="14">
                                    <path
                                        d="M978.74 73.2c16.22 7.93 30.85 14.53 44.71 21.22-42.2 90.06-159.05 106.1-225.73 33.4-11.87-12.68-21.51-26.45-34.04-38.43-47.83-45.14-117.01-28.86-141.16 34.47 19.06 8.17 38.9 16.25 58.22 25.16 32.22 14.34 42.46 37.33 28.78 69.84-10.33 25.7-26.44 39.43-39.3 67.53-73.07-61.8-148.72-89.88-245.43-101.44 14.45-32.6 23.09-57.54 37.84-86.61 10.98-20.84 33.14-27.32 58.14-19.15 15.83 5.03 31.17 12.31 48.67 19.29 4.69-8.51 9.32-17.04 14.08-24.81C629.72-2.5 733.2-16.96 797.47 44.61c10.72 10.05 20.12 20.9 29.39 31.92 49.13 54.57 104.69 53.74 151.88-3.33z m0 0"
                                        fill="#4C4C4C" p-id="1329"></path>
                                    <path
                                        d="M395.34 204.49C178.9 204.49 3.45 379.95 3.45 596.38c0 216.43 175.45 391.89 391.89 391.89s391.89-175.45 391.89-391.89c0-216.43-175.46-391.89-391.89-391.89z m-14.08 742.76c-0.39 0.09-0.6 0.13-0.6 0.13 0.21-0.04 0.4-0.08 0.6-0.13 13.31-2.9 247.66-58.02 338.34-368.44 0.01 0.01 69.65 284.07-338.34 368.44z"
                                        fill="#4C4C4C" p-id="1330"></path>
                                </svg>
                            </span>
                        </template>
                        <template v-else>
                            <span v-if="col.status=='FLAG'">
                                <svg t="1686667343748" viewBox="0 0 1024 1024" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" p-id="3869"
                                    data-spm-anchor-id="a313x.7781069.0.i2" width="14" height="14">
                                    <path
                                        d="M215.4 160.6H177c-8.9 0-16 7.2-16 16V849c0 8.9 7.2 16 16 16h38.4c8.9 0 16-7.2 16-16V176.7c0.1-8.9-7.1-16.1-16-16.1zM848.1 236c-189 152.5-378-180.6-567.1-28.2-8.8 7.1-16 21.3-16 30.1v430.9c0 8.9 7.2 9 16 1.9 189-152.5 378.1 180.7 567.1 28.2 8.9-7.1 16-21.3 16-30.1V237.9c0.1-8.8-7.1-9-16-1.9z"
                                        fill="#d81e06" p-id="3870" data-spm-anchor-id="a313x.7781069.0.i1"
                                        class="selected"></path>
                                </svg>
                            </span>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.47/vue.global.min.js"></script>
    <script>
        Vue.createApp({
            data() {
                const numColor = ["#FFFFFF", "#0002F4", "#367922", "#E43222", "#020082", "#7E1D19", "#7E1D19", "#7E1D19", "#7E1D19"];
                return {
                    numColor,
                    map: [],
                    w: null,
                    h: null,
                    n: null,
                    status: "RUNNING",
                    openNum: 0,
                    mouse: {
                        x: null,
                        y: null,
                        buttons: 0
                    }
                }
            },
            mounted() {
                this.init(16, 16, 10);
            },
            methods: {
                init(w, h, n) {
                    this.w = w;
                    this.h = h;
                    this.n = n;
                    let random = [];
                    for (let i = 0; i < w * h; i++) {
                        random.push({ x: i % w, y: Math.floor(i / w), o: Math.random() });
                    }
                    random.sort((a, b) => a.o - b.o);
                    this.map = [];
                    for (let y = 0; y < h; y++) {
                        this.map[y] = [];
                        for (let x = 0; x < w; x++) {
                            this.map[y][x] = { x, y, status: "INIT", mine: false, aroundNum: 0 };
                        }
                    }
                    for (let i = 0; i < n; i++) {
                        let { x, y } = random[i];
                        this.map[y][x].mine = true;
                        this.aroundForeach(x, y, (cx, cy, c) => c.aroundNum++);
                    }
                    this.status = "RUNNING";
                    this.openNum = 0;
                },
                onMouseDown(e) {
                    if (this.status != "RUNNING") {
                        return;
                    }
                    this.mouse.buttons = e.buttons;
                },
                onMouseUp(e) {
                    if (this.status != "RUNNING") {
                        return;
                    }
                    if (e.buttons == 0) {
                        let x = Math.floor(e.clientX / 20);
                        let y = Math.floor(e.clientY / 20);
                        this.mouse.x = x;
                        this.mouse.y = y;
                        if (this.mouse.buttons == 1) {
                            this.open(x, y);
                        }
                        if (this.mouse.buttons == 2) {
                            if (this.map[y][x].status == "INIT") {
                                this.map[y][x].status = "FLAG";
                            } else if (this.map[y][x].status == "FLAG") {
                                this.map[y][x].status = "INIT";
                            }
                        }
                        if (this.mouse.buttons == 3) {
                            if (this.map[y][x].status == "OPEN" && this.map[y][x].aroundNum) {
                                let flagNum = 0;
                                this.aroundForeach(x, y, (cx, cy, c) => c.status == "FLAG" ? flagNum++ : null);
                                if (this.map[y][x].aroundNum == flagNum) {
                                    this.aroundForeach(x, y, (cx, cy, c) => c.status != "FLAG" ? this.open(cy, cx) : null);
                                }
                            }
                        }
                    }
                },
                open(x, y) {
                    if (this.map[y][x].status != "OPEN") {
                        let que = [{ x, y }];
                        let dp = new Set();
                        while (que.length) {
                            let { x, y } = que.shift();
                            if (dp.has(y * this.w + x)) {
                                continue;
                            }
                            dp.add(y * this.w + x);
                            this.map[y][x].status = "OPEN";
                            this.openNum++;
                            if (!this.map[y][x].mine && this.map[y][x].aroundNum == 0) {
                                this.aroundForeach(x, y, (cx, cy, c) => que.push({ y: cy, x: cx }));
                            }
                        }
                        if (this.map[y][x].mine) {
                            this.status = "LOSE";
                            setTimeout(() => alert("失败"), 0);
                            return;
                        }
                        if (this.openNum == this.w * this.h - this.n) {
                            this.status = "WIN";
                            setTimeout(() => alert("胜利"), 0);
                            return;
                        }
                    }
                },
                aroundForeach(x, y, handle) {
                    for (let dy = -1; dy <= 1; dy++) {
                        for (let dx = -1; dx <= 1; dx++) {
                            if (dx == 0 && dy == 0 || x + dx < 0 || x + dx >= this.w || y + dy < 0 || y + dy >= this.h) {
                                continue;
                            }
                            handle(x + dx, y + dy, this.map[y + dy][x + dx]);
                        }
                    }
                }
            }
        }).mount("#app");
    </script>
</body>

</html>